<div class="message mb-2 <%= 'me' if message.user_id == current_user.id %>">

  <div class="content-container">
    <div class="content">
      <%= message.content%>
    </div>
    <div class="author">
      <%= message.user.email%>
    </div>
  </div>
</div>